:root {
  --darkest-green: #386641;
  --dark-green: #6A994E;
  --light-green: #A7C957;
  --egg-shell: #F2E8CF;
  --deep-red: #BC4749;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: Andale Mono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-family: inherit;
}

.header {
  width: 100%;
  padding: 15px 0px 0px 10px;
  height: 40px;
  background-color: var(--deep-red);
  color: var(--white);
  font-size: 20px;
}

.page {
  margin: auto;
  width: 600px;
  margin-top: 80px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.button {
  width: 80px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  color: inherit;
}

.button-green {
  background-color: var(--white);
  color: var(--light-green);
  border: 2px solid var(--light-green);
  border-radius: 6px;
}

.button-green:hover {
  background-color: var(--light-green);
  color: var(--white);
}

.button-red {
  background-color: var(--white);
  color: var(--deep-red);
  border: 2px solid var(--deep-red);
  border-radius: 6px;
}

.button-red:hover {
  background-color: var(--deep-red);
  color: var(--white);
}

.get-started {
  margin-top: 50px;
  text-align: center;
}

.santa-wrapper {
  background-color: var(--dark-green);
  border-radius: 400px;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 20px;
}

.rotate {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hide {
  display: none;
}

.name-input {
  margin-top: 30px;
  display: flex;
}